name: Deploy to Azure App Service

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Java
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'
    
    - name: Build and Deploy with Maven
      env:
        AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        AZURE_RESOURCE_GROUP: EntertainFlix
        AZURE_APP_SERVICE_NAME: microservice-java
      run: |
        mvn clean package azure-webapp:deploy \
          -Dazure.appServiceName=microservice-java \
          -Dazure.resourceGroup=EntertainFlix
